fastapi[standard]==0.138.1
pyjwt==2.13.0
pwdlib[argon2]
asyncpg==0.31.0
sqlalchemy==2.0.51
python-dotenv
email-validator
python-multipart
celery
redis
minio
prometheus-fastapi-instrumentator
pgvector
google-generativeai
ffmpeg-python
